<br />
<div class="col-12 border p-3">
    <table id="DT_load" class="table table-light table-striped table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Category Image</th>


                <th> <a onclick="showInPopup('/Category/Form','Add Category')" style="width: 100%;" class="btn btn-success text-white"><i class="fas fa-random"></i> Add New Category</a></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>

                <th>Status</th>
                <th>Category Image</th>


                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
