@model IEnumerable<Online.Classified.Data.Models.Category>

@{
    ViewData["Title"] = "Category";
}

<div class="container">
    <h2 class="display-4 text-center">Categories</h2>
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-4">


            <div class="card border-0" style="width: 18rem;">
                <img class="card-img-top" src=" @Html.DisplayFor(modelItem => item.CategoryImage)" alt="Card image cap">
                <div class="card-body">

                    
                    <a href="/Classified/Index/@Html.DisplayFor(modelItem => item.Id)?name=@Html.DisplayFor(modelItem => item.Name)" class="card-text text-center">
                        <p class="card-text text-center"> @Html.DisplayFor(modelItem => item.Name)</p>


                    </a>


                        
                   
                </div>
            </div>
        </div>
        }
    </div>
</div>

