
@{
    ViewBag.Title = "MyClassified";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <h2 class="title text-center">My Ads</h2>
        </div>
        <div class="row">
            @Html.ActionLink("Post New Ad", "PostAd", "Classified", new { Id = "0" }, new { @class = "btn btn-success", @style = "margin-bottom: 20px;" })
          
          
        </div>
        <div class="row">
            <table id="myAds" class="table table-striped table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Recommended</th>
                        <th>Telelphone</th>



                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Price</th><th>Recommended</th>
                        <th>Telelphone</th>
                        
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        let data = getMyClassified();
        $('#myAds').DataTable({
            ajax: { url: '/Classified/MyClassified', dataSrc: 'data' },
            //data: data,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: "GET",
            columns: [
                {
                    render: function (data, type, JsonResultRow, meta) {
                        return '<img style="width: 70px;" src="' + JsonResultRow.PictureUrl+'" />';
                    }
                },
                { data: 'Title' },
                { data: 'Location' },
                { data: 'Price' },
              
                {
                    render: function (data, type, JsonResultRow, meta) {
                        if (JsonResultRow.IsRecommended == true) {
                            return '<i style="color:green;" class="fa fa-check" aria-hidden="true"></i>';
                        }
                        return '<i style="color: red;" class="fa fa-times" aria-hidden="true"></i>';
                      
                    }
                },
                { data: 'PhoneNumber' },
                {
                    "data": "Id", "width": "50px", "render": function (data) {
                        return '<a href="/Classified/PostAd/' + data + '"><i class="fa fa-pencil" aria-hidden="true"></i></a>'
                    }
                },
                {
                    "data": "Id", "width": "50px", "render": function (data) {
                        return '<a style="color:red;" class="popup" href="/Classified/DeletePost/' + data + '"><i class="fa fa-trash" aria-hidden="true"></i></a>'
                    }
                }
            ]
        });
    });
</script>

<script>
    const getMyClassified = async () => {
        const dom = document.getElementById("myAds");
        const response = await fetch('/Classified/MyClassified');
        let row = '';
        const data = await response.json();
        console.log(data.data)
        return data.data


    }
    getMyClassified();

</script>

