
@{
    ViewBag.Title = "MyClassified";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <table id="myAds" class="table table-striped table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Telelphone</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Telelphone</th>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        let data = getMyClassified();
        $('#myAds').DataTable({
            ajax: { url: '/Classified/MyClassified', dataSrc: 'data' },
            //data: data,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: "GET",
            columns: [
                {
                    render: function (data, type, JsonResultRow, meta) {
                        return '<img style="width: 70px;" src="' + JsonResultRow.PictureUrl+'" />';
                    }
                },
                { data: 'Title' },
                { data: 'Location' },
                { data: 'Price' },
                { data: 'PhoneNumber' }
            ]
        });
    });
</script>

<script>
    const getMyClassified = async () => {
        const dom = document.getElementById("myAds");
        const response = await fetch('/Classified/MyClassified');
        let row = '';
        const data = await response.json();
        console.log(data.data)
        return data.data


    }
    getMyClassified();

</script>

