<br />
<div class="container border p-3">
    <table id="DT_news" class="table table-light table-striped table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Thumbnail</th>
                <th>Description</th>
                <th>Hero Image</th>
                <th> <a onclick="showInPopup('/Home/Form','Add News')" style="width: 100%;" class="btn btn-success text-white"><i class="fas fa-random"></i> Add New</a></th>
            </tr>
        </thead>

    </table>
</div>