<br />
<div class="col-12 border p-3">
    <table id="DT_classified" class="table table-striped table-hover no-footer dtr-inline" style="width: 100%;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>

                <th>Location</th>
                <th>Price</th>
                <th>Phone</th>

                <th>Recommended</th>
                <th> <a onclick="showInPopup('/Classified/Form','Add Classified')" style="width: 100%;" class="btn btn-success text-white">Add&nbsp;New</a></th>
            </tr>
        </thead>
       
    </table>
</div>
