<br />
<div class="col-12 border p-3">
    <table id="DT_classified" class="table table-light table-striped table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Recommended</th>
              
                <th>Location</th>
                <th>Price</th>
                <th>Phone Number</th>


                <th> <a onclick="showInPopup('/Classified/Form','Add Classified')" style="width: 100%;" class="btn btn-success text-white">Add&nbsp;New</a></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Title</th>
                <th>Recommended</th>
               
                <th>Location</th>
                <th>Price</th>
                <th>Phone Number</th>


                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
